.unorderedList{
  list-style: none;
  background-color: #999999;
  display: grid;
  grid-template-columns: 1 100%;
  padding: 1%;
}


@media (min-width: 480px) {
  .unorderedList {
    list-style: none;
    background-color: #999999;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1%;
  }
}

@media (min-width: 1024px) {
  .unorderedList {
    list-style: none;
    background-color: #999999;
    display: grid;
    margin: 3% auto 3% auto;
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;
  }
}

@media (min-width: 2048px) {
  .unorderedList {
    list-style: none;
    background-color: #999999;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    padding: 1%;
  }
}
