.container{
  background-color: #F5F5F5;
  width: 80%;
  border: 1.5px solid red;
  margin: 3% auto 3% auto;
  padding: 1%;
  display: flex;
  border-radius: 0.7em;
  background: linear-gradient(to right, red -25%, #F8F8F8 10%);
  box-shadow: 0 0.5em 0.5em lightgrey;
}

.title{
  color: rgb(220,60,20);
  font-weight: bold;
  font-size: 120%;
  text-align: left;
  font-family: sans-serif;
}

.shortText{
  font-weight: lighter;
  font-family: sans-serif;
  padding: 3% auto 3% auto;
  text-align: left;
}

.author{
  text-align: right;
  font-style: oblique;
  font-family: sans-serif;
}

.date{
  font-weight: bold;
  text-align: right;
  font-family: sans-serif;
}

.textArea {
  width: 80%
}
